In [1]:
from selenium import webdriver as wb
from selenium.webdriver.common.keys import Keys
import pandas as pd

In [2]:
nav = wb.Chrome()
nav.get('https://www.google.com/')

nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação dolar')

nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[4]/center/input[1]').send_keys(Keys.ENTER)

dolar = nav.find_element('xpath',
'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')


print(f'{float(dolar):.2f}')

nav.get('https://www.google.com/')
nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação euro')
nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[4]/center/input[1]').send_keys(Keys.ENTER)
euro = nav.find_element('xpath',
'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(f'{float(euro):.2f}')

nav.get('https://www.google.com/')
nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys('Cotação ouro')
nav.find_element('xpath',
'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[4]/center/input[1]').send_keys(Keys.ENTER)
nav.find_element('xpath', '//*[@id="rso"]/div[1]/div/div/div/div[1]/div/a/h3').click()
ouro = nav.find_element('xpath',
'//*[@id="comercial"]').get_attribute('value')
ouro = ouro.replace(',','.')
print(f'{ouro}')
nav.quit()

5.25
5.65
318.58

In [3]:
base_dados = pd.read_excel('Produtos.xlsx')

In [4]:
display(base_dados)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [6]:
base_dados.loc[base_dados['Moeda'] == 'Dólar','Cotação'] = float(dolar)
base_dados.loc[base_dados['Moeda'] == 'Euro','Cotação'] = float(euro)
base_dados.loc[base_dados['Moeda'] == 'Ouro','Cotação'] = float(ouro)

base_dados['Preço de Compra'] = base_dados['Preço Original'] * base_dados['Cotação'] 
base_dados['Preço de Venda'] = base_dados['Preço de Compra'] * base_dados['Margem']
display(base_dados)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.2545,5254.447455,1.40,7356.226437
1,Carro Renault,4500.00,Euro,5.6524,25435.800000,2.00,50871.600000
2,Notebook Dell,899.99,Dólar,5.2545,4728.997455,1.70,8039.295674
3,IPhone,799.00,Dólar,5.2545,4198.345500,1.70,7137.187350
4,Carro Fiat,3000.00,Euro,5.6524,16957.200000,1.90,32218.680000
5,Celular Xiaomi,480.48,Dólar,5.2545,2524.682160,2.00,5049.364320
6,Joia 20g,20.00,Ouro,318.5800,6371.600000,1.15,7327.340000

In [ ]:
base_dados.to_excel('Produtos_atualizado.xlsx',index=False)